@import "../../node_modules/bootstrap/less/bootstrap.less";
// Eventually add this to django-admin
@import "../../node_modules/bootstrap-markdown/less/bootstrap-markdown.less";


@line-color: #333;

.horizontal-line {
  border-right: 1px solid @line-color;
  max-height: 100%;
}
